#webcam {
    text-align: center;
    position: relative;
    width: 640px;
    margin: 0 auto;
}
#caption {
    position: absolute;
    bottom: 5px;
    left:  10px;
    color: white;
	
    font-family: monospace;
}
#caption.playing {
    color: yellow;
}
#caption.paused {
	color: red;
}
#vebcam {
	display: block;
}
#controls {
	text-align: center;
}
input[type="time"]::-webkit-clear-button{
    display:none;
}